html, body {background: #191A24; font-family: 'lato', helvetica, arial, sans-serif; font-size: 16px; color: #50AAA9;}
p {
 font-size: 1em;
 line-height: 1.4em;
 margin-bottom: 20px;
 color: #EAEAEA;
}

.clear {clear: both;}

 #cv {
    width: 90%;
   max-width: 800px;
   background: #202e32;
   margin: 30px auto;
 }

.mainDetails {
  padding: 25px 35px;
  border-bottom: 2px solid #5BC0BE;
  background: #385157;
}


#name h1 {
  font-size: 1.75em;
  font-weight: 700;
  font-family: 'Rokkitt', Helvetica, arial, sans-serif;
  color: #EAEAEA;
  margin-bottom: -6px;
}

#name h2 {
  font-size: 1.5em;
  margin-left: 2px;
  font-family: 'Rokkitt', Helvetica, arial, sans-serif;
  color: #EAEAEA;
}

#mainarea {
  padding: 0 40px;
}

#headshot {
  width: 12.5%;
  float: left;
  margin-right: 30px;
}

#headshot img {
  width: 100%;
  height: auto;
}
#name {
  float: left;
  }
#contactDetails {
  float: right;
}

#contactDetails ul {
  list-style-type: none;
  font-size: 0.9em;
  margin-top: 2px;
}

#contactDetails ul li {
  margin-bottom: 3px;
  color: #0B132B;

section: {
 border-top: 1px solid #5BC0BE;
 padding: 20px 0 0;
}

 section:first-child {
   border-top: 0;
}

section:last-child {
  padding: 20px 0 10px;
}

.sectionTitle h1 {
  font-family: 'Rokkitt', Helvetica, arial, sans-serif;
  font-style: italic;
  font-size: 1.5em;
  color: #EAEAEA;
}


.sectionContent h2 {
  font-family: 'Rokkitt', Helvetica, arial, sans-serif;
  font-size: 1.5em;
  margin-bottom: -2px;
}

.sectionContent h3 {
  font-family: 'Rokkitt', Helvetica, arial, sans-serif;
  font-size: 1.1em;
  color: #EAEAEA;
  margin-bottom: -2px;
}

.sectionContent img {
  width: 75%;
  height:auto;
  border: 2px solid #50AAA9;
}

.keySkills {
  list-style-type: none;
  column-count: 1;
  margin-bottom: 20px;
  font-size: 1em;
  color: #50AAA9;
}
.keyskills ul li {
  margin-bottom 3px;
